* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --icon: #f7a440;
  --icon-hover: #e1701a;
  --logo: #bb371a;
  --sidebar: #bb371a1f;
  --facebook: #4267b2;
  --telegram: #0088cc;
  --instagram: #8a3ab9;
  --hover-logo: #bb371a3d;
}

html {
  font-size: 17px;
}

body {
  font-family: Josefin Sans, sans-serif;
}

.wrapper,
.header-wrapper {
  width: 94%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.fas {
  font-size: 1.8rem;
  color: var(--icon);
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  outline: none;
  color: black;
}
/* HEADER START */

.header {
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;

  max-height: 100px;
}

.header-wrapper {
  justify-content: space-between;
  padding: 20px 0px;
}

.fa-brain {
  font-size: 2.2rem;
  color: var(--logo);
}

.fa-brain:hover,
.fab:hover {
  transform: scale(1.3);
  transition: all 0.3s;

  cursor: pointer;
}

.logo {
  font-size: 30px;
  color: var(--logo);

  cursor: pointer;
}

.search,
.fa-bell,
.fa-brain {
  margin-right: 20px;
}

.search-request {
  width: 50%;
  justify-content: center;
}

.search {
  width: 70%;
}

.fa-search {
  color: black;
}

.search__input {
  font-size: 20px;
  padding: 5px;
  font-family: Josefin Sans, sans-serif;
  transition: all 0.3;
  width: 125%;
}

.search__btn {
  padding: 7px;
  cursor: pointer;
}

.search__btn:hover,
.search__input:focus {
  border: 2px solid var(--logo);
}

.search__btn .fas {
  font-size: 20px;
}

.header .fas:not(.fa-search):hover {
  color: var(--icon-hover);
}

.profile-menu {
  display: inline;
  position: relative;
}

.profile-menu > .fa-user {
  background-color: var(--logo);
  padding: 15px;
  border-radius: 50%;
}

.profile-menu > .fa-user:hover {
  background-color: #d5dbb3;
}

.submenu {
  visibility: hidden;

  background-color: white;
  border: 2px solid var(--logo);
  width: 200px;
  border-radius: 5px;

  position: absolute;
  right: 0px;
  top: 35px;
}

.submenu li {
  padding: 10px 40px;
  font-size: 20px;
}

.logout {
  border-top: 2px solid var(--logo);
}

.logout a {
  color: var(--logo);
}

.fa-sign-out-alt {
  color: var(--logo);
}

.submenu li:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.submenu .fas {
  margin-right: 10px;
  margin-top: auto;
}

.profile-menu:hover .submenu {
  visibility: visible;
}

/* HEADER END */

/* ASIDE START */

.sidebar {
  height: 100%;
  background-color: var(--sidebar);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  z-index: 0;
  min-width: 400px;
  max-width: 400px;
}

.streamer__photo {
  background-size: cover !important;
  background-position: center !important;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;

  margin-right: 15px;
}

.streamers-list {
  height: 75%;
  overflow-y: auto;
  border-bottom: 5px solid white;
}

.streamers-list li,
.streamers-list li > div {
  display: flex;
  align-items: center;
}

.streamer-name {
  padding: 0px 5px;
  text-overflow: ellipsis;
}

.streamers-list li {
  justify-content: space-between;
  padding: 15px 20px 15px 13%;
  cursor: pointer;
  font-size: 18px;
}

.streamers-list li:hover {
  background-color: var(--hover-logo);
  border: 2px solid var(--logo);
}

.streamers-list span {
  position: relative;
}

.live-stream::before {
  content: ".";
  color: red;
  font-size: 50px;
  position: absolute;
  transform: scale(1);
  left: -10px;
  margin-top: -28px;

  animation: pulse 2s infinite;
}

.info {
  background-color: white;
  margin: 20px;
  padding: 20px 50px;
  height: calc(25% - 20px);

  font-size: 1.7rem;
  text-align: center;
  color: var(--logo);
}

.info p::selection {
  color: #7b0a40;
}

.links {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.fab {
  font-size: 2.2rem;
}

.fa-facebook:hover {
  color: var(--facebook);
}

.fa-telegram:hover {
  color: var(--telegram);
}

.fa-instagram:hover {
  color: var(--instagram);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* ASIDE END */

/* MAIN START */
main {
  padding: 100px 0px 20px 400px;
  overflow-y: auto;
}

/* tags start */
.tags {
  padding: 20px 0px;
}

.tag-link:not(:last-child) {
  margin-right: 20px;
}

.tags ul {
  font-size: 1.2rem;
  overflow-x: auto;
}

.tag-link {
  background-color: var(--sidebar);
  padding: 7px 14px;
  border-radius: 15px;

  border: 2px solid var(--logo);
  cursor: pointer;
}

.tag-link:first-child {
  background-color: var(--hover-logo);
}

.tag-link:hover {
  background-color: var(--hover-logo);
}

/* tags end */

/* gallery start */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 20px;
  place-items: center;

  padding-bottom: 80px;
}

.video-card {
  width: 315px;
}

.video-card img {
  height: 177px;
  width: 315px;
}

.live,
.video-card {
  position: relative;
}

.live:before {
  content: "live";
  text-transform: uppercase;
  background-color: red;
  color: white;

  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px;
  border-radius: 2px;
}

.description {
  position: relative;
}

.description::after {
  content: "...";
  position: absolute;
  color: black;
  font-size: 2rem;
  right: 5px;
  top: 0px;

  transform: rotate(-90deg);
}

.viewers,
.vid-duration {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  padding: 3px;
  border-radius: 2px;

  right: 5px;
  bottom: 60px;
}

.streamer-icon {
  background-size: cover !important;
  background-position: center !important;

  height: 50px;
  width: 50px;

  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
}

.video-card-text {
  padding: 5px 5px 5px 5px;
  overflow: hidden;
}

.video-name {
  font-size: 1.2rem;
}

.video-card-text .streamer-name {
  color: var(--logo);
}

.video-name,
.streamer-name {
  margin-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.video-card img:hover {
  opacity: 0.6;
}
/* gallery end */

/* footer start */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 400px;
  background-color: white;
  padding: 15px;
}

footer > div {
  font-size: 1.4rem;
  text-align: center;
}

footer p {
  justify-content: center;
  width: 70%;
  color: var(--logo);
}

.bsa-icon {
  width: 25px;
  height: 25px;
}
/* footer end */

/* MAIN END */

@media screen and (max-width: 1200px) {
  .streamer-name {
    display: none;
  }

  .streamers-list span {
    display: none;
  }

  main {
    padding: 100px 0px 20px 90px;
  }

  .sidebar {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
  }

  footer {
    left: 90px;
  }
  .streamers-list li {
    justify-content: center;
  }

  .streamer__photo {
    margin-right: 0px;
  }

  .info p {
    display: none;
  }

  .links {
    flex-direction: column;
  }

  .info {
    padding: 21px 0px;
  }

  .links {
    margin: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .fas:not(.fa-brain) {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .logo__heading {
    display: none;
  }
}
